@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$input-tag-padding-horizontal-map: (
  mini: 2px,
  small: 3px,
  medium: 3px,
  large: 4px
);

$input-tag-input-height-map: (
  mini: 14px,
  small: 18px,
  medium: 22px,
  large: 26px
);

@include b(input-tag) {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid transparent;
  box-shadow: $tu-shadow-inside;
  transition: all $tu-transition-duration-3 ease;
  cursor: text;

  &:hover:not(.is-disabled) {
    box-shadow: none;
    border-color: $tu-color-shadow-light;
  }

  @include e(mirror) {
    position: absolute;
    top: 0;
    left: 0;
    white-space: pre;
    visibility: hidden;
    pointer-events: none;
  }

  @include e(prefix) {
  }

  @include e(inner) {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: baseline;
    flex: 1;
    overflow: hidden;
    line-height: 0;
    padding: 1px 8px 1px 6px;

    @include e(input) {
      display: inline-block;
      width: 100%;
      height: 18px;
      line-height: 18px;
      padding: 0;
      margin: 0;
      outline: none;
      border: none;
      background: none;
      box-sizing: border-box;
      font-size: $tu-font-size;
      color: $tu-color-text;
      -webkit-appearance: none;

      &::placeholder {
        color: $tu-color-text-placeholder;
      }

      &::-moz-placeholder {
        color: $tu-color-text-placeholder;
      }

      &::-ms-input-placeholder {
        color: $tu-color-text-placeholder;
      }
    }
  }

  @include e(icon) {
    @include m(clear) {
      color: $tu-color-text-placeholder;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
    background-color: $tu-color-base-bg;

    @include e(input) {
      cursor: not-allowed;
    }

    .#{$namespace}-tag {
      box-shadow: none;
      border-color: $tu-color-shadow-light;
    }
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      @include e(inner) {
        @include e(input) {
          height: map-get($input-tag-input-height-map, $size);
          margin: map-get($input-tag-padding-horizontal-map, $size) 0;
        }

        .#{$namespace}-tag {
          margin: map-get($input-tag-padding-horizontal-map, $size) 0;
        }
      }
    }
  }
}
