@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

@include b(color-picker) {
  display: inline-flex;
  align-items: center;
  height: $tu-size-medium;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid transparent;
  box-shadow: $tu-shadow-inside;
  border-radius: $tu-border-radius;
  transition: all $tu-transition-duration-2 ease;
  cursor: pointer;

  &:hover:not(.is-disabled) {
    box-shadow: none;
    border-color: $tu-color-shadow-light;
  }

  @include e(preview) {
    width: calc($tu-size-medium - 12px);
    height: calc($tu-size-medium - 12px);
    border-radius: $tu-border-radius;
    background-image: conic-gradient(
      rgba(0, 0, 0, 6%) 0 25%,
      transparent 0 50%,
      rgba(0, 0, 0, 6%) 0 75%,
      transparent 0
    );
    background-size: 8px 8px;

    @include e(preview-inner) {
      width: 100%;
      height: 100%;
      border-radius: $tu-border-radius;
    }
  }

  @include e(value) {
    margin-left: 4px;
    color: $tu-color-text;
  }

  @include e(input) {
    display: none;
  }

  @include when(disabled) {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.7;
    background-color: $tu-color-base-bg;
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      height: map-get($size-map, $size);

      @include e(preview) {
        width: calc(map-get($size-map, $size) - 12px);
        height: calc(map-get($size-map, $size) - 12px);
      }
    }
  }

  @include e(panel) {
    width: 280px;
    padding: 8px 12px;
    box-sizing: border-box;
    box-shadow: $tu-shadow-outside;
    border-radius: $tu-border-radius;

    @include e(palette) {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      height: 178px;
      overflow: hidden;
      border-radius: $tu-border-radius;
      background-image: linear-gradient(0deg, rgb(0, 0, 0), transparent),
        linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0%));
      cursor: pointer;

      @include e(handler) {
        position: absolute;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        background: transparent;
        border: 2px solid $tu-color-white;
        border-radius: 50%;
        transform: translate(-50%, -50%);
      }
    }

    @include e(panel-control) {
      padding: 12px 0;

      @include e(control-wrapper) {
        display: flex;
        align-items: center;

        @include e(control-bar-bg) {
          background-image: conic-gradient(
            rgba(0, 0, 0, 6%) 0 25%,
            transparent 0 50%,
            rgba(0, 0, 0, 6%) 0 75%,
            transparent 0
          );
          background-size: 8px 8px;
          border-radius: 10px;
        }

        @include e(control-bar) {
          position: relative;
          box-sizing: border-box;
          width: 200px;
          height: 14px;
          cursor: pointer;
          border-radius: 10px;

          @include m(hue) {
            background: linear-gradient(
              90deg,
              #f00 0,
              #ff0 17%,
              #0f0 33%,
              #0ff 50%,
              #00f 67%,
              #f0f 83%,
              #f00
            );
          }

          @include m(alpha) {
            margin-top: 12px;
          }

          @include e(control-bar-handler) {
            position: absolute;
            top: -1px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            transform: translateX(-50%);

            &::before {
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              background: $tu-color-white;
              border-radius: 50%;
            }

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 8px;
              height: 8px;
              background: currentColor;
              border-radius: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        @include e(cotrol-preview) {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          width: 40px;
          height: 40px;
          margin-left: auto;
          color: $tu-color-white;
          border-radius: $tu-border-radius;
          background-image: conic-gradient(
            rgba(0, 0, 0, 6%) 0 25%,
            transparent 0 50%,
            rgba(0, 0, 0, 6%) 0 75%,
            transparent 0
          );
          background-size: 10px 10px;

          @include e(control-preview-inner) {
            width: 100%;
            height: 100%;
          }
        }
      }

      @include e(input-wrapper) {
        display: flex;
        margin-top: 12px;

        @include e(select) {
          width: 56px !important;
        }

        @include e(input-group) {
          display: flex;
          flex: 1;
          margin-left: 12px;

          .#{$namespace}-input-number {
            margin-left: 4px;
          }
        }
      }
    }

    @include e(panel-colors) {
      padding: 12px 0;
      border-top: 1px solid $tu-color-line;

      @include e(colors-section) {
        &:not(:first-child) {
          margin-top: 12px;
        }

        @include e(colors-text) {
          color: $tu-color-text;
          font-size: $tu-font-size;
        }

        @include e(colors-wrapper) {
          margin-top: 8px;

          @include e(colors-list) {
            display: flex;
            flex-wrap: wrap;
            margin: -8px -4px 0;

            @include e(color-block) {
              margin: 6px 3px 0;
              width: 16px;
              height: 16px;
              cursor: pointer;
              border-radius: 2px;
              transition: transform 60ms ease-out;
              background-image: conic-gradient(
                rgba(0, 0, 0, 0.06) 0 25%,
                transparent 0 50%,
                rgba(0, 0, 0, 0.06) 0 75%,
                transparent 0
              );
              background-size: 8px 8px;
              overflow: hidden;

              @include e(block) {
                width: 100%;
                height: 100%;
              }

              &:hover {
                transform: scale(1.1);
              }
            }
          }

          @include e(colors-empty) {
            margin: 12px 0;
            color: $tu-color-text-placeholder;
            font-size: $tu-font-size-small;
          }
        }
      }
    }
  }
}
