@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$popover-padding-horizontal-map: (
  mini: 4px,
  small: 8px,
  medium: 12px,
  large: 16px
);

$popover-padding-vertical-map: (
  mini: 4px,
  small: 6px,
  medium: 8px,
  large: 10px
);

@include b(popover) {
  @include e(popup-content) {
    box-sizing: border-box;
    line-height: $tu-line-height-base;
    color: $tu-color-text;
    background: $tu-color-global-bg;
    border-radius: $tu-border-radius;
    box-shadow: $tu-shadow-outside;
  }

  @include e(popup-arrow) {
    z-index: 1;
    background: $tu-color-global-bg;
    width: 6px;
    height: 6px;
  }

  @include e(title) {
    color: $tu-color-text;
    font-size: $tu-font-size-card-title;
    font-weight: $tu-font-title-weight;
  }

  @include e(content) {
    text-align: left;
    word-wrap: break-word;
    margin-top: 10px;
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      @include e(popup-content) {
        padding: map-get($popover-padding-vertical-map, $size)
          map-get($popover-padding-horizontal-map, $size);
        font-size: map-get($font-size-map, $size);
      }

      @include e(title) {
        font-size: map-get($font-size-map, $size);
      }
    }
  }
}
