.tu-fade-in-linear-enter-active,
.tu-fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}

.tu-fade-in-linear-enter-from,
.tu-fade-in-linear-leave-to {
  opacity: 0;
}

.tu-fade-in-enter-active,
.tu-fade-in-leave-active {
  transition: all var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.55, 0, 0.1, 1);
}

.tu-fade-in-enter-from,
.tu-fade-in-leave-active {
  opacity: 0;
}

.tu-zoom-in-center-enter-active,
.tu-zoom-in-center-leave-active {
  transition: all var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.55, 0, 0.1, 1);
}

.tu-zoom-in-center-enter-from,
.tu-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.tu-zoom-in-top-enter-active,
.tu-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}
.tu-zoom-in-top-enter-active[data-popper-placement^=top],
.tu-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.tu-zoom-in-top-enter-from,
.tu-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.tu-zoom-in-bottom-enter-active,
.tu-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center bottom;
}

.tu-zoom-in-bottom-enter-from,
.tu-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.tu-zoom-in-left-enter-active,
.tu-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: top left;
}

.tu-zoom-in-left-enter-from,
.tu-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition: var(--tu-transition-duration-3, 0.3s) height ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-top ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-bottom ease-in-out;
}

.tu-collapse-transition-leave-active,
.tu-collapse-transition-enter-active {
  transition: var(--tu-transition-duration-3, 0.3s) max-height ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-top ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: var(--tu-transition-duration-3, 0.3s) width ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-left ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-right ease-in-out;
}

.tu-list-enter-active,
.tu-list-leave-active {
  transition: all 1s;
}

.tu-list-enter-from,
.tu-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.tu-list-leave-active {
  position: absolute !important;
}

.tu-scrollbar-fade-enter-active {
  transition: opacity 340ms ease-out;
}
.tu-scrollbar-fade-leave-active {
  transition: opacity 120ms ease-out;
}
.tu-scrollbar-fade-enter-from, .tu-scrollbar-fade-leave-active {
  opacity: 0;
}

.tu-opacity-transition {
  transition: opacity var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.55, 0, 0.1, 1);
}

.tu-zoom-in-fade-out-enter-from,
.tu-zoom-in-fade-out-appear-from {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.tu-zoom-in-fade-out-enter-to,
.tu-zoom-in-fade-out-appear-to {
  transform: scale(1, 1);
  opacity: 1;
}

.tu-zoom-in-fade-out-enter-active,
.tu-zoom-in-fade-out-appear-active {
  transition: opacity var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1), transform var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1);
}

.tu-zoom-in-fade-out-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}

.tu-zoom-in-fade-out-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.tu-zoom-in-fade-out-leave-active {
  transition: opacity var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1), transform var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1);
}

.tu-popup {
  position: absolute;
  border-radius: var(--tu-border-radius, 2px);
  z-index: var(--tu-z-index-pop-up, 1060);
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;
}
.tu-popup__wrapper {
  display: inline-block;
}
.tu-popup__arrow {
  position: absolute;
  z-index: -1;
  display: block;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background: #323745;
  content: "";
}
.tu-popup__arrow--mini {
  width: 4px;
  height: 4px;
}

.tu-popup__arrow--small {
  width: 6px;
  height: 6px;
}

.tu-popup__arrow--medium {
  width: 8px;
  height: 8px;
}

.tu-popup__arrow--large {
  width: 12px;
  height: 12px;
}

.tu-popup--top .tu-popup__arrow, .tu-popup--tl .tu-popup__arrow, .tu-popup--tr .tu-popup__arrow {
  border-top: none;
  border-left: none;
  border-bottom-right-radius: var(--tu-border-radius, 2px);
}

.tu-popup--left .tu-popup__arrow, .tu-popup--lt .tu-popup__arrow, .tu-popup--lb .tu-popup__arrow {
  border-bottom: none;
  border-left: none;
  border-top-right-radius: var(--tu-border-radius, 2px);
}

.tu-popup--right .tu-popup__arrow, .tu-popup--rt .tu-popup__arrow, .tu-popup--rb .tu-popup__arrow {
  border-top: none;
  border-right: none;
  border-bottom-left-radius: var(--tu-border-radius, 2px);
}

.tu-popup--bottom .tu-popup__arrow, .tu-popup--bl .tu-popup__arrow, .tu-popup--br .tu-popup__arrow {
  border-right: none;
  border-bottom: none;
  border-top-left-radius: var(--tu-border-radius, 2px);
}