@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$drawer-footer-padding-horizontal-map: (
  mini: 10px,
  small: 12px,
  medium: 14px,
  large: 16px
);

@include b(drawer-container) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $tu-z-index-drawer;

  @include e(mask) {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}

@include b(drawer) {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $tu-color-global-bg;
  line-height: $tu-line-height-base;

  @include e(header) {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid $tu-color-line;
    padding: 6px 16px;

    @include e(title) {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-start;
      height: $tu-size-medium;
      color: $tu-color-text;
      font-size: $tu-font-size-card-title;
      font-weight: $tu-font-title-weight;
    }

    @include e(icon) {
      cursor: pointer;
      font-size: $tu-font-size;
      color: $tu-color-text-placeholder;
      transition: color $tu-transition-duration-2;

      &:hover {
        color: $tu-color-text;
      }
    }
  }

  @include e(body) {
    position: relative;
    flex: 1;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    color: $tu-color-text;
    font-size: $tu-font-size;
    padding: 20px 16px;

    @include scroll-bar;
  }

  @include e(footer) {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    text-align: right;
    padding: 12px 16px;
    border-top: 1px solid $tu-color-line;

    > .#{$namespace}-button:not(:nth-child(1)) {
      margin-left: 12px;
    }
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      @include e(title) {
        height: map-get($size-map, $size);
        font-size: map-get($font-size-map, $size);
      }

      @include e(body) {
        font-size: map-get($font-size-map, $size);
      }

      @include e(footer) {
        padding-top: map-get($drawer-footer-padding-horizontal-map, $size);
        padding-bottom: map-get($drawer-footer-padding-horizontal-map, $size);
      }
    }
  }
}

// fade-drawer
.fade-drawer-enter-from,
.fade-drawer-appear-from {
  opacity: 0;
}

.fade-drawer-enter-to,
.fade-drawer-appear-to {
  opacity: 1;
}

.fade-drawer-enter-active,
.fade-drawer-appear-active {
  transition: opacity $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

.fade-drawer-leave-from {
  opacity: 1;
}

.fade-drawer-leave-to {
  opacity: 0;
}

.fade-drawer-leave-active {
  transition: opacity $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

// sliderr-drawer-left
.slider-drawer-left-enter-from,
.slider-drawer-left-appear-from {
  transform: translateX(-100%);
}

.slider-drawer-left-enter-to,
.slider-drawer-left-appear-to {
  transform: translateX(0);
}

.slider-drawer-left-enter-active,
.slider-drawer-left-appear-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

.slider-drawer-left-leave-from {
  transform: translateX(0);
}

.slider-drawer-left-leave-to {
  transform: translateX(-100%);
}

.slider-drawer-left-leave-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

// sliderr-drawer-right
.slider-drawer-right-enter-from,
.slider-drawer-right-appear-from {
  transform: translateX(100%);
}

.slider-drawer-right-enter-to,
.slider-drawer-right-appear-to {
  transform: translateX(0);
}

.slider-drawer-right-enter-active,
.slider-drawer-right-appear-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

.slider-drawer-right-leave-from {
  transform: translateX(0);
}

.slider-drawer-right-leave-to {
  transform: translateX(100%);
}

.slider-drawer-right-leave-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

// sliderr-drawer-top
.slider-drawer-top-enter,
.slider-drawer-top-appear {
  transform: translateY(-100%);
}

.slider-drawer-top-enter-from,
.slider-drawer-top-appear-from {
  transform: translateY(-100%);
}

.slider-drawer-top-enter-to,
.slider-drawer-top-appear-to {
  transform: translateY(0);
}

.slider-drawer-top-enter-active,
.slider-drawer-top-appear-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

.slider-drawer-top-leave-from {
  transform: translateY(0);
}

.slider-drawer-top-leave-to {
  transform: translateY(-100%);
}

.slider-drawer-top-leave-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

// sliderr-drawer-bottom
.slider-drawer-bottom-enter-from,
.slider-drawer-bottom-appear-from {
  transform: translateY(100%);
}

.slider-drawer-bottom-enter-to,
.slider-drawer-bottom-appear-to {
  transform: translateY(0);
}

.slider-drawer-bottom-enter-active,
.slider-drawer-bottom-appear-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}

.slider-drawer-bottom-leave-from {
  transform: translateY(0);
}

.slider-drawer-bottom-leave-to {
  transform: translateY(100%);
}

.slider-drawer-bottom-leave-active {
  transition: transform $tu-transition-duration-2
    $tu-transition-timing-function-standard;
}
