@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@import './vars.scss';

@include b(picker) {
  @include e(dropdown) {
    box-shadow: $tu-shadow-outside;
    border-radius: $tu-border-radius;

    @include e(header) {
      display: flex;
      align-items: center;
      padding: 4px 16px;
      box-sizing: content-box;
      height: map-get($size-map, 'medium');
      border-bottom: 1px solid $tu-color-line;

      @include e(header-icon) {
        width: 24px;
        height: 24px;
        margin-right: 2px;
        margin-left: 2px;
        color: $tu-color-text-placeholder;
        font-size: $tu-font-size;
        line-height: 24px;
        text-align: center;
        transition: all $tu-transition-duration-2
          $tu-transition-timing-function-linear;
        user-select: none;

        &:not(.is-icon-hidden) {
          cursor: pointer;

          &:hover {
            color: $tu-color-text;
          }
        }
      }

      @include e(header-title) {
        flex: 1;
        font-size: $tu-font-size;
        text-align: center;
        color: $tu-color-text;

        @include e(header-label) {
          color: $tu-color-text;
          line-height: 1;
          border-radius: $tu-border-radius;
          cursor: pointer;
          padding: 2px 4px;
          transition: all $tu-transition-duration-2;
          font-size: $tu-font-size;

          &:hover {
            color: $tu-color-primary;
            background: $tu-color-hover-bg;
          }
        }
      }
    }

    @include e(week-list) {
      display: flex;
      box-sizing: border-box;
      width: 100%;
      padding: $picker-dropdown-inner-padding-vertical 16px 0;

      @include e(week-list-item) {
        flex: 1;
        height: 32px;
        padding: 0;
        color: $tu-color-text;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        font-size: $tu-font-size;
      }
    }

    @include e(body) {
      padding: 0 16px $picker-dropdown-inner-padding-vertical;

      @include e(row) {
        display: flex;

        @include e(cell) {
          flex: 1;

          @include e(date) {
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: $picker-dropdown-cell-padding-vertical 0;
            cursor: pointer;
            transition: all $tu-transition-duration-2;

            @include e(date-value) {
              display: flex;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
              width: $picker-dropdown-cell-size;
              height: $picker-dropdown-cell-size;
              color: $tu-color-text-placeholder;
              font-size: $tu-font-size;
              border-radius: $tu-border-radius;
              cursor: pointer;
              transition: all $tu-transition-duration-2;
            }
          }

          @include when(in-view) {
            @include e(date-value) {
              color: $tu-color-text;
            }
          }

          @include when(today) {
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: 16%;
              left: 50%;
              display: block;
              width: 4px;
              height: 4px;
              margin-left: -2px;
              background-color: $tu-color-primary;
              border-radius: 50%;
            }
          }

          @include when(selected) {
            @include e(date-value) {
              color: $tu-color-primary;
              font-weight: bold;
              background-color: $tu-color-hover-bg;
            }
          }

          @include when(week) {
            @include e(date-value) {
              color: $tu-color-text-placeholder;
              font-weight: bold;
            }
          }

          @include when(in-range) {
            @include e(date-value) {
              color: $tu-color-primary;
              background-color: $tu-color-hover-bg;
            }
          }

          @include when(range-start) {
            @include e(date-value) {
              color: $tu-color-primary;
              font-weight: bold;
            }
          }

          @include when(range-end) {
            @include e(date-value) {
              color: $tu-color-primary;
              font-weight: bold;
            }
          }

          @include when(disabled) {
            @include e(date-value) {
              background-color: $tu-color-hover-bg;
              color: $tu-color-text-placeholder;
              cursor: not-allowed;
            }
          }

          &.is-in-view:not(
              .is-selected,
              .is-range-start,
              .is-range-end,
              .is-disabled,
              .is-week
            ) {
            @include e(date-value) {
              &:hover {
                color: $tu-color-primary;
                background-color: $tu-color-hover-bg;
              }
            }
          }
        }
      }
    }

    @include m((shortcuts-placement-left, shortcuts-placement-right)) {
      display: flex;
      align-items: flex-start;

      @include e(shortcuts) {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 6px 12px;
        overflow-x: hidden;
        overflow-y: auto;

        > * {
          margin: 5px 0;
        }
      }
    }

    @include m(shortcuts-placement-left) {
      @include e(dropdown-content) {
        border-left: 1px solid $tu-color-line;
      }
    }

    @include m(shortcuts-placement-right) {
      @include e(dropdown-content) {
        border-right: 1px solid $tu-color-line;
      }
    }

    @include e(dropdown-footer) {
      width: min-content;
      min-width: 100%;

      @include e(extra-wrap) {
        padding: 6px 12px;
        box-sizing: content-box;
        color: $tu-color-text;
        font-size: 12px;
        height: map-get($size-map, 'medium');
        line-height: map-get($size-map, 'medium');
        border-top: 1px solid $tu-color-line;
      }

      @include e(now-wrap) {
        text-align: center;
        box-sizing: content-box;
        padding: 6px 0;
        height: map-get($size-map, 'medium');
        line-height: map-get($size-map, 'medium');
        border-top: 1px solid $tu-color-line;
      }

      @include e(button-wrap) {
        display: flex;
        box-sizing: content-box;
        align-items: center;
        justify-content: space-between;
        padding: 6px 12px;
        height: map-get($size-map, 'medium');
        line-height: map-get($size-map, 'medium');
        border-top: 1px solid $tu-color-line;

        & :only-child {
          margin-left: auto;
        }

        @include e(shortcuts) {
          flex: 1;
        }
      }
    }

    @each $size in (mini, small, medium, large) {
      @include m($size) {
        @include e(header) {
          height: map-get($size-map, $size);

          @include e(header-title) {
            font-size: map-get($font-size-map, $size);

            @include e(header-label) {
              font-size: map-get($font-size-map, $size);
            }
          }
        }

        @include e(week-list) {
          @include e(week-list-item) {
            font-size: map-get($font-size-map, $size);
          }
        }

        @include e(body) {
          @include e(cell) {
            @include e(date) {
              @include e(date-value) {
                height: map-get($size-map, $size);
                font-size: map-get($font-size-map, $size);
              }
            }
          }
        }

        @include e(dropdown-footer) {
          @include e((extra-wrap, now-wrap, button-wrap)) {
            height: map-get($size-map, $size);
            line-height: map-get($size-map, $size);
          }
        }
      }
    }
  }
}
