@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@import './vars.scss';

@include b(picker) {
  @include e(dropdown-quarter) {
    display: flex;
    box-sizing: border-box;

    @include e(dropdown-quarter-inner) {
      width: $picker-dropdown-quarter-width;

      @include e(date-value) {
        width: 100%;
      }
    }
  }
}
