$picker-dropdown-date-width: 265px;
$picker-dropdown-month-width: 265px;
$picker-dropdown-year-width: 265px;
$picker-dropdown-week-width: 298px;
$picker-dropdown-quarter-width: 265px;

$picker-dropdown-cell-padding-vertical: 4px;
$picker-dropdown-cell-size: 24px;
