@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@import './vars.scss';

@include b(picker) {
  @include e(dropdown) {
    @include e(dropdown-year) {
      display: flex;
      box-sizing: border-box;

      @include e(dropdown-year-inner) {
        width: map-get($picker-dropdown-width-map, 'medium');

        @include e(date-value) {
        }
      }
    }

    @each $size in (mini, small, medium, large) {
      @include m($size) {
        @include e(dropdown-year) {
          @include e(dropdown-year-inner) {
            width: map-get($picker-dropdown-width-map, $size);
          }
        }
      }
    }
  }
}
