@use 'sass:map';

@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$button-padding-vertical-map: (
  mini: 4px,
  small: 6px,
  medium: 9px,
  large: 11px
);
$button-padding-horizontal-map: (
  mini: 7px,
  small: 13px,
  medium: 19px,
  large: 25px
);

@mixin button-fill($color-light, $color, $color-dark) {
  box-shadow: inset 2px 2px 8px $color-light, inset -2px -2px 8px $color-dark,
    $tu-shadow-outside;
  background-color: $color;
  color: $tu-color-text-light;

  & [class*='#{$namespace}-icon'] {
    color: $tu-color-text-light;
  }

  &:hover {
    box-shadow: none;
    &,
    [class*='#{$namespace}-icon'] {
      color: $tu-color-white;
    }
  }

  &:active {
    transition: none;
    box-shadow: inset 3px 3px 8px $color-dark, inset -2px -3px 8px $color-light;
  }
}

@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: map-get($button-padding-vertical-map, 'medium')
    map-get($button-padding-horizontal-map, 'medium');
  background-color: transparent;
  color: $tu-color-text;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-align: center;
  border: none;
  border-radius: $tu-border-radius;
  font-weight: $tu-font-content-weight;
  font-size: $tu-font-size-medium;
  -webkit-appearance: none;
  transition: all $tu-transition-duration-2;

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      box-shadow: none;
      opacity: 0.7;
    }
  }

  @include when(round) {
    border-radius: $tu-border-radius-full;

    &::after {
      border-radius: $tu-border-radius-full;
    }
  }

  @include when(circle) {
    width: $tu-size-medium;
    height: $tu-size-medium;
    padding: 0;
    border-radius: 50%;

    &::after {
      border-radius: 50%;
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
  }

  @include m(default) {
    position: relative;
    box-shadow: $tu-shadow-outside;

    &::after {
      content: '';
      box-sizing: content-box;
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 0;
      left: 0;
      border: 1px solid transparent;
      border-radius: $tu-border-radius;
      transition: border $tu-transition-duration-2;
    }

    &:hover:not(.is-disabled, :active) {
      box-shadow: none;

      &::after {
        border-color: $tu-color-shadow-light;
      }

      > i {
        color: $tu-color-primary;
      }
    }

    &:active {
      color: $tu-color-primary;
      transition: none;
      box-shadow: $tu-shadow-inside;
    }

    &.is-disabled {
      background-color: $tu-color-base-bg;
    }
  }

  @include m(primary) {
    @include button-fill(
      $tu-color-primary-light,
      $tu-color-primary,
      $tu-color-primary-dark
    );
  }

  @include m(success) {
    @include button-fill(
      $tu-color-success-light,
      $tu-color-success,
      $tu-color-success-dark
    );
  }

  @include m(warning) {
    @include button-fill(
      $tu-color-warning-light,
      $tu-color-warning,
      $tu-color-warning-dark
    );
  }

  @include m(danger) {
    @include button-fill(
      $tu-color-danger-light,
      $tu-color-danger,
      $tu-color-danger-dark
    );
  }

  @include m(info) {
    @include button-fill(
      $tu-color-info-light,
      $tu-color-info,
      $tu-color-info-dark
    );
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      font-size: map-get($font-size-map, $size);
      padding: map-get($button-padding-vertical-map, $size)
        map-get($button-padding-horizontal-map, $size);

      & [class*='#{$namespace}-icon'] {
        font-size: map-get($font-size-map, $size);
        & + span {
          margin-left: map-get($gap-map, $size);
        }
      }

      @include when(circle) {
        width: map-get($size-map, $size);
        height: map-get($size-map, $size);
        font-size: map-get($font-size-map, $size);
        padding: 0;
        border-radius: 50%;
      }
    }
  }

  @include m(text) {
    color: $tu-color-primary;
    padding-left: 0;
    padding-right: 0;

    &:hover:not(.is-disabled) {
      color: $tu-color-primary-dark;

      & [class*='#{$namespace}-icon'] {
        color: $tu-color-primary-dark;
      }
    }

    & [class*='#{$namespace}-icon'] {
      color: $tu-color-primary;
    }
  }

  & + & {
    margin-left: 12px;
  }

  & [class*='#{$namespace}-icon'] {
    transition: color 0.2s;
    & + span {
      margin-left: map-get($gap-map, 'medium');
    }
  }
}
