@use 'sass:map';

@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$button-padding-map: (
  mini: 5px 10px,
  small: 6px 15px,
  medium: 9px 20px,
  large: 11px 25px
);

$button-icon-gap-map: (
  mini: 2px,
  small: 4px,
  medium: 6px,
  large: 8px
);

$button-font-size-map: (
  mini: $tu-font-size-mini,
  small: $tu-font-size-small,
  medium: $tu-font-size-medium,
  large: $tu-font-size-large
);

$button-size-map: (
  mini: $tu-size-mini,
  small: $tu-size-small,
  medium: $tu-size-medium,
  large: $tu-size-large
);

@mixin button-fill($color-light, $color, $color-dark) {
  box-shadow: inset 2px 2px 8px $color-light, inset -2px -2px 8px $color-dark,
    $tu-shadow-outside;
  background-color: $color;
  color: $tu-color-text-light;

  & [class*='#{$namespace}-icon'] {
    color: $tu-color-text-light;
  }

  &:hover {
    &,
    [class*='#{$namespace}-icon'] {
      color: $tu-color-white;
    }
  }

  &:active {
    box-shadow: inset 2px 2px 8px $color-dark, inset -2px -2px 8px $color-light;
  }
}

@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: map-get($button-padding-map, 'medium');
  background-color: transparent;
  color: $tu-color-text;
  white-space: nowrap;
  line-height: 1;
  cursor: pointer;
  outline: none;
  user-select: none;
  border: none;
  vertical-align: middle;
  text-align: center;
  box-sizing: border-box;
  border-radius: $tu-border-radius;
  font-weight: $tu-font-content-weight;
  font-size: $tu-font-size-medium;
  -webkit-appearance: none;
  transition: color 0.2s;

  & + & {
    margin-left: 12px;
  }

  & [class*='#{$namespace}-icon'] {
    transition: color 0.2s;
    & + span {
      margin-left: map-get($button-icon-gap-map, 'medium');
    }
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      box-shadow: none;
      opacity: 0.7;
    }
  }

  @include when(round) {
    border-radius: $tu-border-radius-full;
  }

  @include when(circle) {
    width: $tu-size-medium;
    height: $tu-size-medium;
    padding: 0;
    border-radius: 50%;
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;
    opacity: 0.7;
  }

  @include m(default) {
    box-shadow: $tu-shadow-outside;

    &:hover:not(.is-disabled) {
      color: $tu-color-primary;
      > i {
        color: $tu-color-primary;
      }
    }

    &:active {
      box-shadow: $tu-shadow-inside;
    }

    &.is-disabled {
      background-color: $tu-color-base-bg;
    }
  }

  @include m(text) {
    color: $tu-color-primary;

    &:hover {
      color: $tu-color-primary-dark;

      & [class*='#{$namespace}-icon'] {
        color: $tu-color-primary-dark;
      }
    }

    & [class*='#{$namespace}-icon'] {
      color: $tu-color-primary;
    }
  }

  @include m(primary) {
    @include button-fill(
      $tu-color-primary-light,
      $tu-color-primary,
      $tu-color-primary-dark
    );
  }

  @include m(success) {
    @include button-fill(
      $tu-color-success-light,
      $tu-color-success,
      $tu-color-success-dark
    );
  }

  @include m(warning) {
    @include button-fill(
      $tu-color-warning-light,
      $tu-color-warning,
      $tu-color-warning-dark
    );
  }

  @include m(danger) {
    @include button-fill(
      $tu-color-danger-light,
      $tu-color-danger,
      $tu-color-danger-dark
    );
  }

  @include m(info) {
    @include button-fill(
      $tu-color-info-light,
      $tu-color-info,
      $tu-color-info-dark
    );
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      padding: map-get($button-padding-map, $size);
      font-size: map-get($button-font-size-map, $size);

      & [class*='#{$namespace}-icon'] {
        font-size: map-get($button-font-size-map, $size);
        & + span {
          margin-left: map-get($button-icon-gap-map, $size);
        }
      }

      @include when(circle) {
        width: map-get($button-size-map, $size);
        height: map-get($button-size-map, $size);
        font-size: map-get($button-font-size-map, $size);
        padding: 0;
        border-radius: 50%;
      }
    }
  }
}
