@use 'sass:map';

@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$--color-box-shadow-dark: $tu-slate-50;
$--color-box-shadow-light: $tu-white-0;
$--box-shadow-concave: inset 2px 2px 5px $--color-box-shadow-dark,
  inset -2px -2px 5px $--color-box-shadow-light !default; //凹
$--box-shadow-convex: 3px 3px 6px $--color-box-shadow-dark,
  -2px -2px 5px $--color-box-shadow-light !default; //凸

.tu-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  border: none;
  background: transparent;
  box-shadow: $--box-shadow-convex;

  &:active {
    box-shadow: $--box-shadow-concave;
  }
}

.tu-button.tu-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;

  &:hover {
    background: #66b1ff;
    border-color: #66b1ff;
    color: #fff;
  }
}
