@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$collapse-padding-vertical-map: (
  mini: 2px,
  small: 4px,
  medium: 6px,
  large: 8px
);
$collapse-padding-horizontal-map: (
  mini: 2px,
  small: 6px,
  medium: 10px,
  large: 14px
);

@include b(collapse) {
  border: 1px solid transparent;
  box-sizing: border-box;

  @include e(item) {
    @include e(item-header) {
      display: flex;
      align-items: center;
      color: $tu-color-text;
      cursor: pointer;
      border-bottom: 1px solid $tu-color-line;
      font-size: $tu-font-size;
      transition: border-bottom-color $tu-transition-duration-2;
      outline: none;

      @include e(item-arrow) {
        transition: transform $tu-transition-duration-2;
        margin-right: 4px;

        @include when(active) {
          transform: rotate(90deg);
        }
      }

      @include e(item-extra) {
        margin-left: auto;
      }

      @include when(active) {
        border-bottom-color: transparent;
      }
    }

    @include e(item-wrap) {
      will-change: height;
      overflow: hidden;
      box-sizing: border-box;
      border-bottom: 1px solid $tu-color-line;

      @include e(item-content) {
        font-size: $tu-font-size;
        color: $tu-color-text;
        line-height: $tu-line-height-base;
      }
    }

    @include when(disabled) {
      cursor: not-allowed;
    }

    &:last-child {
      margin-bottom: -1px;

      @include e((item-header, item-wrap)) {
        border: none;
      }
    }
  }

  @include m(outset) {
    box-shadow: $tu-shadow-outside;

    @include e(item) {
      &:last-child {
        @include e((item-header, item-wrap)) {
          border: none;
        }
      }
    }
  }

  @include m(inset) {
    box-shadow: $tu-shadow-inside;

    @include e(item) {
      &:last-child {
        @include e((item-header, item-wrap)) {
          border: none;
        }
      }
    }
  }

  @include m(bordered) {
    box-shadow: $tu-shadow-inside-outside-small;
    border: none;
    padding: 1px;
  }

  @include m(outlined) {
    border-color: $tu-color-line;
    box-shadow: none;
  }

  @include m(flat) {
    border-color: transparent;
    box-shadow: none;
    background-color: $tu-color-hover-bg;
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      @include e(item-header) {
        line-height: map-get($size-map, $size);
        font-size: map-get($font-size-map, $size);
        padding: map-get($collapse-padding-vertical-map, $size)
          map-get($collapse-padding-horizontal-map, $size);
      }

      @include e(item-wrap) {
        @include e(item-content) {
          font-size: map-get($font-size-map, $size);
          padding-bottom: calc(
            map-get($collapse-padding-vertical-map, $size) + 6px
          );
          padding-right: map-get($collapse-padding-horizontal-map, $size);
          padding-left: calc(
            map-get($collapse-padding-horizontal-map, $size) +
              map-get($font-size-map, $size)
          );
        }
      }

      & [class*='#{$namespace}-icon'] {
        font-size: map-get($font-size-map, $size);
        & + span {
          margin-left: map-get($gap-map, $size);
        }
      }
    }
  }
}
