@use 'sass:map';

@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$message-background-color-map: (
  success: $tu-color-success-light,
  info: $tu-color-info-light,
  warning: $tu-color-warning-light,
  error: $tu-color-danger-light
);

$message-color-map: (
  success: $tu-color-success-dark,
  info: $tu-color-info-dark,
  warning: $tu-color-warning-dark,
  error: $tu-color-danger-dark
);

@include b(message) {
  position: fixed;
  top: 20px;
  left: 50%;
  display: flex;
  align-items: center;
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: $tu-border-radius-feedback;
  transform: translateX(-50%);
  transition: opacity $tu-transition-duration-3,
    transform $tu-transition-duration-4, top $tu-transition-duration-4;
  padding: 6px 16px;
  color: $tu-color-text;
  background-color: $tu-color-global-bg;
  box-shadow: $tu-shadow-inside-outside-small;

  @include e(content) {
    padding: 0;
    font-size: $tu-font-size;
    line-height: 1.5;
  }

  @include e(icon) {
    @include m(close) {
      cursor: pointer;
      color: $tu-color-text-placeholder;
      transition: color $tu-transition-duration-3;

      &:hover {
        color: $tu-color-text;
      }
    }
  }

  @include e(badge) {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  @include e(icon) {
    margin-right: 8px;
  }

  @include when(center) {
    justify-content: center;
  }

  @include when(closable) {
    @include e(content) {
      padding-right: 10px;
    }
  }

  @each $type in (success, info, warning, error) {
    @include m($type) {
      background-color: map-get($message-background-color-map, $type);
      color: map-get($message-color-map, $type);
      box-shadow: none;

      @include e(icon) {
        @include m(close) {
          color: $tu-color-text-light;

          &:hover {
            color: $tu-color-white;
          }
        }
      }
    }
  }
}
