.tu-fade-in-linear-enter-active,
.tu-fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}

.tu-fade-in-linear-enter-from,
.tu-fade-in-linear-leave-to {
  opacity: 0;
}

.tu-fade-in-enter-active,
.tu-fade-in-leave-active {
  transition: all var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.55, 0, 0.1, 1);
}

.tu-fade-in-enter-from,
.tu-fade-in-leave-active {
  opacity: 0;
}

.tu-zoom-in-center-enter-active,
.tu-zoom-in-center-leave-active {
  transition: all var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.55, 0, 0.1, 1);
}

.tu-zoom-in-center-enter-from,
.tu-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

.tu-zoom-in-top-enter-active,
.tu-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}
.tu-zoom-in-top-enter-active[data-popper-placement^=top],
.tu-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.tu-zoom-in-top-enter-from,
.tu-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.tu-zoom-in-bottom-enter-active,
.tu-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center bottom;
}

.tu-zoom-in-bottom-enter-from,
.tu-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

.tu-zoom-in-left-enter-active,
.tu-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: top left;
}

.tu-zoom-in-left-enter-from,
.tu-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

.collapse-transition {
  transition: var(--tu-transition-duration-3, 0.3s) height ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-top ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-bottom ease-in-out;
}

.tu-collapse-transition-leave-active,
.tu-collapse-transition-enter-active {
  transition: var(--tu-transition-duration-3, 0.3s) max-height ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-top ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: var(--tu-transition-duration-3, 0.3s) width ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-left ease-in-out, var(--tu-transition-duration-3, 0.3s) padding-right ease-in-out;
}

.tu-list-enter-active,
.tu-list-leave-active {
  transition: all 1s;
}

.tu-list-enter-from,
.tu-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.tu-list-leave-active {
  position: absolute !important;
}

.tu-scrollbar-fade-enter-active {
  transition: opacity 340ms ease-out;
}
.tu-scrollbar-fade-leave-active {
  transition: opacity 120ms ease-out;
}
.tu-scrollbar-fade-enter-from, .tu-scrollbar-fade-leave-active {
  opacity: 0;
}

.tu-opacity-transition {
  transition: opacity var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.55, 0, 0.1, 1);
}

.tu-zoom-in-fade-out-enter-from,
.tu-zoom-in-fade-out-appear-from {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.tu-zoom-in-fade-out-enter-to,
.tu-zoom-in-fade-out-appear-to {
  transform: scale(1, 1);
  opacity: 1;
}

.tu-zoom-in-fade-out-enter-active,
.tu-zoom-in-fade-out-appear-active {
  transition: opacity var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1), transform var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1);
}

.tu-zoom-in-fade-out-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}

.tu-zoom-in-fade-out-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.tu-zoom-in-fade-out-leave-active {
  transition: opacity var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1), transform var(--tu-transition-duration-3, 0.3s) cubic-bezier(0.3, 1.3, 0.3, 1);
}

.tu-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.tu-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}
.tu-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
}
.tu-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background: var(--tu-color-thumb, #9b9fa8);
  opacity: 0.7;
  transition: opacity var(--tu-transition-duration-3, 0.3s);
}
.tu-scrollbar__thumb:hover {
  opacity: 1;
}

.tu-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.tu-scrollbar__bar.is-horizontal > div {
  height: 100%;
}

.tu-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px;
}
.tu-scrollbar__bar.is-vertical > div {
  width: 100%;
}

.tu-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}
.tu-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  display: none;
}