@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

@include b(resize-box) {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;

  @include e((left, right, top, bottom)) {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    user-select: none;
  }

  @include e(left) {
    border-left: 1px solid $tu-color-line;
  }

  @include e(right) {
    right: 0;
    left: unset;
    border-right: 1px solid $tu-color-line;
  }

  @include e(top) {
    border-top: 1px solid $tu-color-line;
  }

  @include e(bottom) {
    top: unset;
    bottom: 0;
    border-bottom: 1px solid $tu-color-line;
  }
}
