@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@use '../../../style/utils.scss' as *;

// menu-horizontal
$menu-horizontal-padding-vertical: 8px;
$menu-horizontal-padding-horizontal: 20px;

// menu-vertical
$menu-vertical-padding-vertical: 4px;
$menu-vertical-padding-horizontal: 8px;

$menu-item-gap: 4px;

@include b(menu) {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  font-size: $tu-font-size;
  transition: width $tu-transition-duration-2
    $tu-transition-timing-function-standard;

  @include e(inner) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;

    @include e(item) {
      position: relative;
      box-sizing: border-box;
      color: $tu-color-text;
      cursor: pointer;
      line-height: $tu-size-medium;
      transition: background-color $tu-transition-duration-2;
      border-radius: $tu-border-radius;

      &:hover {
        background-color: $tu-color-hover-bg;
      }

      @include when(selected) {
        color: $tu-color-primary;
        background-color: $tu-color-hover-bg;
      }
    }
  }

  @include e(overflow-wrap) {
    width: 100%;

    @include e((sub-menu-mirror, hidden-menu-item)) {
      position: absolute !important;
      white-space: nowrap;
      visibility: hidden;
      pointer-events: none;
    }
  }

  @include m(horizontal) {
    width: 100%;
    height: auto;

    @include e(inner) {
      display: flex;
      align-items: center;
      padding: $menu-horizontal-padding-vertical
        $menu-horizontal-padding-horizontal;

      @include e((pop, item)) {
        display: inline-block;
        flex-shrink: 0;
        vertical-align: middle;
        padding: 0 12px;
        color: $tu-color-text;

        &:not(:first-child) {
          margin-left: 12px;
        }
      }

      @include e(pop) {
        &::after {
          content: ' ';
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: $menu-horizontal-padding-vertical;
        }
      }
    }
  }

  @include m(vertical) {
    @include e(inner) {
      padding: $menu-vertical-padding-vertical $menu-vertical-padding-horizontal;

      @include e(item) {
        margin-bottom: $menu-item-gap;
        padding: 0 12px;

        @include utils-ellipsis;
      }
    }
  }
}
