@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@use '../../../style/utils.scss' as *;

// menu-horizontal
$menu-horizontal-padding-vertical: 8px;
$menu-horizontal-padding-horizontal: 20px;

// menu-vertical
$menu-vertical-padding-vertical: 8px;
$menu-vertical-padding-horizontal: 8px;

$menu-item-gap: 4px;
$menu-item-indent-spacing: 12px;

@include b(menu) {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid transparent;
  font-size: $tu-font-size;
  transition: width $tu-transition-duration-2
    $tu-transition-timing-function-standard;

  @include e(inner) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    @include e(inline) {
      &:not(:last-child) {
        @include e(inline-header) {
          margin-bottom: $menu-item-gap;
        }
      }

      @include e(inline-header) {
        display: flex;
        align-items: center;
        height: $tu-size-medium;
        line-height: $tu-size-medium;
        color: $tu-color-text;
        transition: background-color $tu-transition-duration-2;
        padding: 0 12px;
        cursor: pointer;

        &:hover {
          background-color: $tu-color-hover-bg;
        }

        @include utils-ellipsis;

        @include e(inline-icon) {
          margin-right: 8px;
          display: inline-flex;
          align-items: center;
        }

        @include e(inline-title) {
          @include utils-ellipsis;
        }

        @include e(inline-icon-suffix) {
          display: inline-flex;
          align-items: center;
          margin-left: auto;
          transition: transform $tu-transition-duration-2;

          @include when(open) {
            transform: rotate(180deg);
          }
        }

        @include when(selected) {
          color: $tu-color-primary;
        }
      }

      @include e(inline-content) {
        height: auto;
        overflow: hidden;
        transition: height $tu-transition-duration-2;

        @include e(item) {
          display: flex;

          @include utils-ellipsis;
        }
      }
    }

    @include e((item, pop)) {
      position: relative;
      box-sizing: border-box;
      color: $tu-color-text;
      cursor: pointer;
      line-height: $tu-size-medium;
      transition: background-color $tu-transition-duration-2;
      border-radius: $tu-border-radius;

      &:hover {
        background-color: $tu-color-hover-bg;
      }

      @include when(selected) {
        color: $tu-color-primary;
      }
    }

    @include e(item) {
      @include when(selected) {
        background-color: $tu-color-hover-bg;
      }
    }

    @include e(icon) {
      display: inline-flex;
      align-items: center;
    }

    @include e(indent) {
      display: inline-block;
      width: $menu-item-indent-spacing;
    }
  }

  @include e(overflow-wrap) {
    width: 100%;

    @include e((sub-menu-mirror, hidden-menu-item)) {
      position: absolute !important;
      white-space: nowrap;
      visibility: hidden;
      pointer-events: none;
    }
  }

  @include e(collapse-button) {
    position: absolute;
    right: 8px;
    bottom: 10px;
    color: $tu-color-text;
  }

  @include m(horizontal) {
    width: 100%;
    height: auto;

    @include e(inner) {
      display: flex;
      align-items: center;
      padding: $menu-horizontal-padding-vertical
        $menu-horizontal-padding-horizontal;

      @include e((pop, item)) {
        display: inline-block;
        flex-shrink: 0;
        vertical-align: middle;
        padding: 0 12px;

        &:not(:first-child) {
          margin-left: 12px;
        }
      }

      @include e(pop) {
        &::after {
          content: ' ';
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: $menu-horizontal-padding-vertical;
        }
      }
    }
  }

  @include m(vertical) {
    @include e(inner) {
      padding: $menu-vertical-padding-vertical $menu-vertical-padding-horizontal;

      @include e((item, pop)) {
        margin-bottom: $menu-item-gap;
        padding: 0 12px;

        &:last-child {
          margin-bottom: 0;
        }

        @include e(indent-list) {
          flex: none;
        }

        @include e(title) {
          @include utils-ellipsis;
        }
      }
    }
  }

  @include m(outset) {
    box-shadow: $tu-shadow-outside;
  }

  @include m(inset) {
    box-shadow: $tu-shadow-inside;
  }

  @include m(bordered) {
    box-shadow: $tu-shadow-inside-outside-small;
    border: none;
    padding: 1px;
  }

  @include m(outlined) {
    border-color: $tu-color-line;
  }

  @include m(flat) {
    background-color: $tu-color-hover-bg;
  }

  @include m(trigger) {
    box-sizing: border-box;
    box-shadow: $tu-shadow-outside;
    border-radius: $tu-border-radius;

    @include e(inner) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include when(pop) {
  }

  @include when(collapsed) {
    width: 56px;

    @include e(inner) {
      padding: 8px;

      @include e(pop) {
        display: flex;
        align-items: center;

        @include e(icon) {
          margin-right: 100%;
        }

        @include e(icon-suffix) {
          display: none;
        }

        @include when(has-icon) {
          > *:not(.#{$namespace}-menu__icon) {
            opacity: 0;
          }
        }

        @include utils-ellipsis;
      }
    }
  }
}
