@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

@include b(select-view) {
  &:hover {
    @include e(icon) {
      @include m(clear) {
        display: block;

        &:hover {
          color: $tu-color-text;
        }
      }

      & ~ * {
        display: none;
      }
    }
  }

  @include m(single) {
    cursor: pointer;
  }

  @include e(icon) {
    position: relative;
    color: $tu-color-text-placeholder;
    transition: transform $tu-transition-duration-2;

    @include m(clear) {
      display: none;
      cursor: pointer;
      transition: color $tu-transition-duration-3;
    }
  }

  @include when(opened) {
    @include e(icon) {
      @include m(arrow) {
        transform: rotateZ(-180deg);
      }
    }
  }
}
