@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$resize-trigger-space: 6px;

@include b(resize-trigger) {
  @include m(horizontal) {
    width: 100%;
    cursor: row-resize;
    height: $resize-trigger-space;
  }

  @include m(vertical) {
    height: 100%;
    width: $resize-trigger-space;
    cursor: col-resize;
  }
}
