.tu-input-tag {
  position: relative;
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid transparent;
  box-shadow: inset 2px 2px 5px var(--tu-color-shadow-dark, #babbc0), inset -2px -2px 5px var(--tu-color-shadow-light, #ffffff);
  transition: all var(--tu-transition-duration-3, 0.3s) ease;
}
.tu-input-tag__mirror {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre;
  visibility: hidden;
  pointer-events: none;
}

.tu-input-tag__inner {
  flex: 1;
  overflow: hidden;
  line-height: 0;
}
.tu-input-tag__input {
  box-sizing: border-box;
  min-height: 18px;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  line-height: 1;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: inherit;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 6px 0 6px 6px;
}

.tu-input-tag__inner .tu-tag {
  margin: 6px 0 6px 6px;
}