@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$radio-size-map: (
  mini: 14px,
  small: 16px,
  medium: 18px,
  large: 20px
);

@include b(radio) {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  user-select: none;
  font-size: $tu-font-size;
  font-weight: $tu-font-content-weight;
  color: $tu-color-text;
  height: map-get($size-map, 'medium');

  @include e(input) {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    position: relative;
    vertical-align: middle;
  }

  @include e(inner) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: map-get($radio-size-map, 'medium');
    height: map-get($radio-size-map, 'medium');
    box-shadow: $tu-shadow-outside;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: box-shadow $tu-transition-duration-2;

    &::after {
      content: '';
      position: absolute;
      width: 45%;
      height: 45%;
      border-radius: 50%;
      box-sizing: border-box;
      background-color: $tu-color-text-placeholder;
      transition: background-color $tu-transition-duration-2 ease;
    }
  }

  @include e(original) {
    opacity: 0;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  @include e(label) {
    font-size: $tu-font-size-medium;
    padding-left: map-get($gap-map, 'medium');
    transition: color $tu-transition-duration-2;
    line-height: 1;
  }

  @include when(checked) {
    @include e(inner) {
      box-shadow: $tu-shadow-inside;
      border: none;

      &::after {
        background-color: $tu-color-primary;
      }
    }

    @include e(label) {
      color: $tu-color-primary;
    }
  }

  @include when(disabled) {
    cursor: not-allowed;
    opacity: 0.7;

    @include e(inner) {
      cursor: not-allowed;
      box-shadow: none;
      background: $tu-color-base-bg;
    }
  }

  @include m(button) {
    margin: 0 !important;

    @include e(input) {
      display: none;
    }

    @include e(label) {
      padding: 0 20px;
    }

    @include when(checked) {
      box-shadow: $tu-shadow-inside;
    }
  }

  @include m(border) {
    box-shadow: $tu-shadow-outside;
    padding: 0 20px 0 10px;
    box-sizing: border-box;
    transition: box-shadow $tu-transition-duration-2;

    &::after {
      content: '';
      position: absolute;
      box-sizing: content-box;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 0;
      left: 0;
      border: 1px solid transparent;
      border-radius: $tu-border-radius;
      transition: border $tu-transition-duration-2;
    }

    @include e(inner) {
      box-shadow: none;
      border: none;
    }

    @include when(checked) {
      box-shadow: $tu-shadow-inside;
      border: none;

      @include e(inner) {
        box-shadow: none;
      }
    }
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      font-size: map-get($font-size-map, $size);
      height: map-get($size-map, $size);
      line-height: map-get($size-map, $size);

      @include e(inner) {
        width: map-get($radio-size-map, $size);
        height: map-get($radio-size-map, $size);
      }

      @include e(label) {
        font-size: map-get($font-size-map, $size);
      }
    }
  }

  & + & {
    margin-left: 24px;
  }

  &:hover:not(.is-disabled, .is-checked) {
    @include e(inner) {
      border-color: $tu-color-shadow-light;
      box-shadow: none;
    }

    &.#{$namespace}-radio--border {
      box-shadow: none;

      &::after {
        border-color: $tu-color-shadow-light;
      }
    }
  }
}
