@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

@include b(divider) {
  background-color: $tu-color-line;
  position: relative;

  @include m(horizontal) {
    display: block;
    height: 1px;
    width: 100%;
    margin: 16px 0;
  }

  @include m(vertical) {
    display: inline-block;
    min-width: 1px;
    max-width: 1px;
    height: 1em;
    vertical-align: middle;
    margin: 0 12px;
  }

  @include when(with-text) {
    display: table;
    background-color: transparent;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;

    &::before {
      content: '';
      position: relative;
      top: 50%;
      display: table-cell;
      width: 50%;
      border-top: 1px solid $tu-color-line;
      transform: translateY(50%);
    }

    &::after {
      content: '';
      position: relative;
      top: 50%;
      display: table-cell;
      width: 50%;
      border-top: 1px solid $tu-color-line;
      transform: translateY(50%);
    }
  }

  @include e(text) {
    display: inline-block;
    padding: 0 12px;
    color: $tu-color-text;
    font-size: $tu-font-size;
  }

  @include when(left) {
    &::before {
      width: 5%;
    }

    &::after {
      width: 95%;
    }
  }

  @include when(center) {
    &::before {
      width: 50%;
    }

    &::after {
      width: 50%;
    }
  }

  @include when(right) {
    &::before {
      width: 95%;
    }

    &::after {
      width: 5%;
    }
  }
}
