@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$tabs-padding-vertical-map: (
  mini: 4px,
  small: 6px,
  medium: 8px,
  large: 10px
);
$tabs-padding-horizontal-map: (
  mini: 2px,
  small: 4px,
  medium: 6px,
  large: 8px
);
$tabs-content-padding-map: (
  mini: 6px,
  small: 10px,
  medium: 14px,
  large: 18px
);

@include b(tabs) {
  position: relative;
  overflow: hidden;

  // nav
  @include e(nav) {
    display: flex;
    align-items: center;
    position: relative;
    flex-shrink: 0;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 8px;
      left: 0;
      display: block;
      clear: both;
      height: 1px;
      background-color: $tu-color-line;
    }

    @include e(nav-tab) {
      display: flex;
      flex: 1;
      overflow: hidden;
      padding: 8px;

      @include e(nav-tab-list) {
        position: relative;
        display: inline-block;
        white-space: nowrap;
        transition: transform $tu-transition-duration-2
          $tu-transition-timing-function-standard;

        @include e(tab) {
          display: inline-flex;
          align-items: center;
          box-sizing: border-box;
          line-height: 1;
          outline: none;
          cursor: pointer;
          font-size: $tu-font-size;
          color: $tu-color-text;
          transition: color $tu-transition-duration-2
            $tu-transition-timing-function-linear;
          padding: 8px 0;
          margin: 0 8px;

          &:hover {
            color: $tu-color-primary;
          }

          @include e(tab-title) {
            display: inline-flex;
            align-items: center;
          }

          @include e(button-close) {
            margin-left: 5px;
            transition: all $tu-transition-duration-3;

            &::after {
              content: '';
              z-index: -1;
              display: block;
              position: absolute;
              width: calc(100% + 2px);
              height: calc(100% + 2px);
              border-radius: 50%;
              background-color: transparent;
              transition: all $tu-transition-duration-3;
            }

            &:hover {
              color: $tu-color-white;

              &::after {
                background-color: $tu-color-text-placeholder;
              }
            }
          }

          @include when(disabled) {
          }

          @include when(active) {
            color: $tu-color-primary;
          }
        }

        //indicate
        @include e(nav-tab-indicate) {
          position: absolute;
          top: initial;
          right: initial;
          bottom: 0;
          height: 2px;
          background-color: $tu-color-primary;
          transition: left $tu-transition-duration-4
              $tu-transition-timing-function-standard,
            width $tu-transition-duration-2
              $tu-transition-timing-function-standard;
        }
      }
    }

    @include e(nav-button) {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: $tu-color-text;

      &:hover {
        color: $tu-color-primary;
      }

      @include m(left) {
        margin-right: 6px;
        margin-left: 10px;
      }

      @include m(right) {
        margin-right: 10px;
        margin-left: 6px;
      }

      @include m(up) {
        margin-bottom: 10px;
      }

      @include m(down) {
        margin-top: 10px;
      }

      @include when(disabled) {
        color: $tu-color-text-placeholder;
        cursor: not-allowed;
      }
    }

    @include e(nav-extra) {
      display: flex;
      align-items: center;
      width: auto;
      line-height: $tu-line-height-base;

      @include e(button-add) {
        display: inline-flex;
        align-items: center;
        color: $tu-color-text;
        cursor: pointer;
        transition: color $tu-transition-duration-2;

        &:hover {
          color: $tu-color-primary;
        }
      }
    }
  }

  //content
  @include e(content) {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    @include e(content-list) {
      display: flex;
      width: 100%;

      //pane
      @include e(pane) {
        flex-shrink: 0;
        width: 100%;
        height: 0;
        overflow: hidden;

        @include e(pane-content) {
          color: $tu-color-text;
          line-height: $tu-line-height-base;
        }

        @include when(active) {
          height: auto;
        }
      }

      @include when(animation) {
        transition: all $tu-transition-duration-2
          $tu-transition-timing-function-standard;
      }
    }
  }

  //
  @include m(horizontal) {
    @include e(nav) {
      @include e(nav-extra) {
        margin-right: 8px;
      }
    }
  }

  // vertical
  @include m(vertical) {
    @include e(nav) {
      height: 100%;
      position: relative;
      box-sizing: border-box;
      height: 100%;
      flex-direction: column;

      &::before {
        position: absolute;
        top: 8px;
        bottom: 0;
        left: initial;
        clear: both;
        width: 1px;
        height: calc(100% - 16px);
      }

      @include e(nav-tab) {
        flex-direction: column;
        height: 100%;

        @include e(nav-tab-list) {
          height: auto;

          @include e(tab) {
            display: flex;
            margin: 0;
            white-space: nowrap;
            align-items: center;

            &:not(:first-child) {
              margin: 4px 0;
            }
          }
        }

        @include e(nav-tab-indicate) {
          bottom: initial;
          left: initial;
          width: 2px;
          transition: top $tu-transition-duration-4
              $tu-transition-timing-function-standard,
            height $tu-transition-duration-2
              $tu-transition-timing-function-standard;
        }
      }

      @include e(nav-extra) {
        margin-top: 8px;
      }
    }

    @include e(content) {
      width: auto;
      height: 100%;
    }
  }

  @include m(left) {
    @include e(nav) {
      @include e(nav-tab-indicate) {
        right: -8px;
      }

      @include m(vertical) {
        float: left;

        &::before {
          right: 0;
        }
      }
    }
  }

  @include m(right) {
    @include e(nav) {
      @include e(nav-tab-indicate) {
        left: -8px;
      }

      @include m(vertical) {
        float: right;

        &::before {
          left: 0;
        }
      }
    }
  }

  /** types 类型*/

  // card-up
  @include m(card-up) {
    border-radius: $tu-border-radius;
    box-shadow: $tu-shadow-outside;
    padding: 0;

    @include e(nav) {
      &::before {
        display: none;
      }

      @include e(nav-tab-indicate) {
        z-index: -1;
        background: none;
        height: 75%;
        top: 12.5%;
        border-radius: $tu-border-radius;
        box-shadow: $tu-shadow-inside;
      }

      @include m(vertical) {
        @include e(nav-tab-indicate) {
          width: 100%;
          left: 0;
        }
      }
    }

    &.#{$namespace}-tabs--vertical {
      padding: 12px 0;
    }
  }

  // card-down
  @include m(card-down) {
    border-radius: $tu-border-radius;
    box-shadow: $tu-shadow-inside;
    padding: 0;

    @include e(nav) {
      &::before {
        display: none;
      }

      @include e(nav-tab-indicate) {
        z-index: -1;
        background: none;
        height: 75%;
        top: 12.5%;
        border-radius: $tu-border-radius;
        box-shadow: $tu-shadow-outside;
      }

      @include m(vertical) {
        @include e(nav-tab-indicate) {
          width: 100%;
          left: 0;
        }
      }
    }

    &.#{$namespace}-tabs--vertical {
      padding: 12px 0;
    }
  }

  // slider
  @include m(slider) {
    border-radius: $tu-border-radius;
    padding: 0;

    @include e(nav) {
      &::before {
        display: none;
      }

      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        display: block;
        top: 8px;
        left: 8px;
        width: calc(100% - 16px);
        height: calc(100% - 16px);
        box-shadow: $tu-shadow-outside;
      }

      @include e(nav-tab-indicate) {
        z-index: -1;
        background: none;
        height: 75%;
        top: 12.5%;
        border-radius: $tu-border-radius;
        box-shadow: $tu-shadow-inside;
      }

      @include e(nav-extra) {
        margin-right: 16px;
      }

      @include m(vertical) {
        &::after {
          top: 0px;
          left: 0px;
          top: 4px;
          left: 4px;
          width: calc(100% - 8px);
          height: calc(100% - 8px);
        }

        @include e(nav-tab-indicate) {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  // text
  @include m(text) {
    @include e(nav) {
      &::before {
        display: none;
      }

      @include e(tab) {
        position: relative;

        &:not(:first-of-type)::before {
          content: '';
          display: block;
          position: absolute;
          top: 30%;
          left: -8px;
          width: 1px;
          height: 40%;
          background-color: $tu-color-base-bg;
        }
      }

      @include e(nav-tab-indicate) {
        display: none;
      }

      @include m(vertical) {
        @include e(tab) {
          &:not(:first-of-type)::before {
            top: -18%;
            left: 10%;
            height: 1px;
            width: 80%;
          }
        }
      }
    }
  }

  // button
  @include m(button) {
    @include e(nav) {
      &::before {
        display: none;
      }

      @include e(nav-tab) {
        @include e(tab) {
          position: relative;

          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 75%;
            left: 0;
            box-sizing: border-box;
            box-shadow: $tu-shadow-outside;
            transition: box-shadow $tu-transition-duration-2;
            border-radius: $tu-border-radius;
            border: 1px solid transparent;
          }

          &:hover {
            &::before {
              box-shadow: none;
              border-color: $tu-color-shadow-light;
            }
          }

          @include when(active) {
            &::before {
              box-shadow: $tu-shadow-inside;
              border: none;
            }
          }
        }

        @include e(nav-tab-indicate) {
          display: none;
        }
      }

      @include m(vertical) {
        @include e(nav-tab) {
          @include e(tab) {
            &::before {
              height: 100%;
              top: 0;
            }
          }
        }
      }
    }
  }

  // round
  @include m(button-round) {
    @include e(nav) {
      &::before {
        display: none;
      }

      @include e(nav-tab) {
        @include e(tab) {
          position: relative;

          &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 75%;
            left: 0;
            box-sizing: border-box;
            box-shadow: $tu-shadow-outside;
            transition: box-shadow $tu-transition-duration-2;
            border-radius: $tu-border-radius-full;
            border: 1px solid transparent;
          }

          &:hover {
            &::before {
              box-shadow: none;
              border-color: $tu-color-shadow-light;
            }
          }

          @include when(active) {
            &::before {
              box-shadow: $tu-shadow-inside;
              border: none;
            }
          }
        }

        @include e(nav-tab-indicate) {
          display: none;
        }
      }

      @include m(vertical) {
        @include e(nav-tab) {
          @include e(tab) {
            &::before {
              height: 100%;
              top: 0;
            }
          }
        }
      }
    }
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      @include e(tab) {
        padding: map-get($tabs-padding-vertical-map, $size)
          map-get($tabs-padding-horizontal-map, $size);
        font-size: map-get($font-size-map, $size);

        & [class*='#{$namespace}-icon'] {
          font-size: map-get($font-size-map, $size);
        }
      }

      @include e(nav-extra) {
        @include e(button-add) {
          & [class*='#{$namespace}-icon'] {
            font-size: map-get($font-size-map, $size);
          }
        }
      }

      @include e(content) {
        font-size: map-get($font-size-map, $size);
      }

      &.#{$namespace}-tabs--top {
        .#{$namespace}-tabs__content {
          padding-top: map-get($tabs-content-padding-map, $size);
        }
      }

      &.#{$namespace}-tabs--left {
        .#{$namespace}-tabs__content {
          padding-left: map-get($tabs-content-padding-map, $size);
        }
      }

      &.#{$namespace}-tabs--card-up {
        .#{$namespace}-tabs__nav--vertical {
          .#{$namespace}-tabs__tab {
            padding: calc(map-get($tabs-padding-vertical-map, $size) - 2px)
              calc(map-get($tabs-padding-horizontal-map, $size) - 2px);
          }
        }
      }

      &.#{$namespace}-tabs--card-down {
        .#{$namespace}-tabs__nav--vertical {
          .#{$namespace}-tabs__tab {
            padding: calc(map-get($tabs-padding-vertical-map, $size) - 2px)
              calc(map-get($tabs-padding-horizontal-map, $size) - 2px);
          }
        }
      }

      &.#{$namespace}-tabs--slider {
        .#{$namespace}-tabs__nav--vertical {
          .#{$namespace}-tabs__tab {
            padding: calc(map-get($tabs-padding-vertical-map, $size) - 2px)
              calc(map-get($tabs-padding-horizontal-map, $size) - 2px);
          }
        }
      }

      &.#{$namespace}-tabs--button {
        .#{$namespace}-tabs__nav--vertical {
          .#{$namespace}-tabs__tab {
            padding: calc(map-get($tabs-padding-vertical-map, $size) - 2px)
              calc(map-get($tabs-padding-horizontal-map, $size) - 2px);
          }
        }
      }

      &.#{$namespace}-tabs--button-round {
        .#{$namespace}-tabs__nav--vertical {
          .#{$namespace}-tabs__tab {
            padding: calc(map-get($tabs-padding-vertical-map, $size) - 2px)
              calc(map-get($tabs-padding-horizontal-map, $size) - 2px);
          }
        }
      }
    }
  }
}
