.tu-virtual-list {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 159, 168, 0.7) transparent;
}
.tu-virtual-list::-webkit-scrollbar {
  z-index: 111;
  width: 6px;
}
.tu-virtual-list::-webkit-scrollbar:horizontal {
  height: 6px;
}
.tu-virtual-list::-webkit-scrollbar-thumb {
  cursor: default;
  border-radius: 5px;
  width: 6px;
  background: rgba(155, 159, 168, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tu-virtual-list::-webkit-scrollbar-thumb:hover {
  background: var(--tu-color-thumb, #9b9fa8);
}
.tu-virtual-list::-webkit-scrollbar-corner {
  background-color: transparent;
}
.tu-virtual-list::-webkit-scrollbar-track {
  background-color: transparent;
}
.tu-virtual-list::-webkit-scrollbar-track-piece {
  background-color: transparent;
  width: 6px;
}