@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@use '../../../style/utils.scss' as *;

$dropdown-item-padding-vertical-map: (
  mini: 2px,
  small: 4px,
  medium: 6px,
  large: 8px
);

$dropdown-item-padding-horizontal-map: (
  mini: 8px,
  small: 10px,
  medium: 12px,
  large: 14px
);

$dropdow-item-icon-gap-map: (
  mini: 4px,
  small: 6px,
  medium: 8px,
  large: 10px
);

@include b(dropdown) {
  box-sizing: border-box;
  box-shadow: $tu-shadow-outside;
  background: $tu-color-global-bg;
  border-radius: $tu-border-radius;
  padding: 0;

  @include e(wrap) {
    overflow-y: auto;
    max-height: 200px;

    @include e(list) {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
    }
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      .#{$namespace}-dropdown-item {
        font-size: map-get($font-size-map, $size);
        padding: map-get($dropdown-item-padding-vertical-map, $size)
          map-get($dropdown-item-padding-horizontal-map, $size);

        .#{$namespace}-dropdown-item__icon {
          margin-right: map-get($dropdow-item-icon-gap-map, $size);
        }

        .#{$namespace}-dropdown-item__suffix {
          margin-left: map-get($dropdow-item-icon-gap-map, $size);
        }
      }

      & [class*='#{$namespace}-icon'] {
        font-size: map-get($font-size-map, $size);
      }
    }
  }
}

@include b(dropdown-item) {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 6px 12px;
  color: $tu-color-text;
  font-size: $tu-font-size;
  line-height: $tu-line-height-base;
  text-align: left;
  cursor: pointer;
  transition: background $tu-transition-duration-2,
    color $tu-transition-duration-2;

  &.is-active,
  &:not(.is-disabled):hover {
    background: $tu-color-hover-bg;
    color: $tu-color-primary;
  }

  @include e(content) {
    @include utils-ellipsis;
  }

  @include when(suffix) {
    justify-content: space-between;
  }

  @include e(icon) {
    display: inline-flex;
  }

  @include e(suffix) {
    display: inline-flex;
    align-items: center;
  }

  @include when(disabled) {
    color: $tu-color-text-placeholder;
    cursor: not-allowed;
  }
}

@include b(dropdown-button) {
  display: inline-block;

  & + & {
    margin-left: 12px;
  }

  .tu-button-group {
    button + button {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

@include b(dropdown-group) {
  @include e(title) {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 10px;
    cursor: default;
    color: $tu-color-text-placeholder;
    font-size: $tu-font-size-small;

    &:not(:first-child) {
      margin-top: 4px;
    }

    @include utils-ellipsis;
  }
}
