@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;
@import '../../../style/transition.scss';

$tu-trigger-arrow-color: $tu-slate-90;
$tu-trigger-arrow-radius: $tu-border-radius;

$tooltip-arrow-size-map: (
  mini: 4px,
  small: 6px,
  medium: 8px,
  large: 12px
);

@include b(popup) {
  position: absolute;
  border-radius: $tu-border-radius;
  z-index: $tu-z-index-pop-up;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;

  @include e(wrapper) {
    display: inline-block;

    @include e(arrow) {
      position: absolute;
      z-index: -1;
      display: block;
      box-sizing: border-box;
      width: map-get($tooltip-arrow-size-map, 'medium');
      height: map-get($tooltip-arrow-size-map, 'medium');
      background: $tu-trigger-arrow-color;
      content: '';

      @each $size in (mini, small, medium, large) {
        @include m($size) {
          width: map-get($tooltip-arrow-size-map, $size);
          height: map-get($tooltip-arrow-size-map, $size);
        }
      }
    }
  }

  @include m((top, tl, tr)) {
    @include e(arrow) {
      border-top: none;
      border-left: none;
      border-bottom-right-radius: $tu-trigger-arrow-radius;
    }
  }

  @include m((left, lt, lb)) {
    @include e(arrow) {
      border-bottom: none;
      border-left: none;
      border-top-right-radius: $tu-trigger-arrow-radius;
    }
  }

  @include m((right, rt, rb)) {
    @include e(arrow) {
      border-top: none;
      border-right: none;
      border-bottom-left-radius: $tu-trigger-arrow-radius;
    }
  }

  @include m((bottom, bl, br)) {
    @include e(arrow) {
      border-right: none;
      border-bottom: none;
      border-top-left-radius: $tu-trigger-arrow-radius;
    }
  }
}
