@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

@include b(popup) {
  position: absolute;
  padding: 5px 11px;
  border-radius: $tu-border-radius;
  z-index: $tu-z-index-pop-up;
  font-size: 12px;
  line-height: 20px;
  min-width: 10px;
  word-wrap: break-word;
  visibility: visible;

  @include e(wrapper) {
    display: inline-block;
  }

  @include e(arrow) {
  }
}
