@import './component.scss';

html,
body,
.vp-doc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    line-height: 1.25;
    font-weight: 500;

    &:focus {
      outline: none;
    }
  }

  h1 {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 22px;
  }

  @media screen and (min-width: 420px) {
    h1 {
      font-size: 22px;
    }
  }

  h2 {
    margin-top: 1.05rem;
    margin-bottom: 0.75rem;
    padding-bottom: 0.3rem;
    line-height: 1.25;
    font-size: 14px;
    font-weight: 600;
    border: none;
    color: var(--vp-c-text-1);
  }

  h2 + h3 {
    margin-top: 1.5rem;
  }

  h3 {
    margin-top: 2rem;
    font-size: 14px;
  }

  h4 {
    margin-top: 2rem;
    font-size: 12px;
  }

  p {
    font-size: 13px;
  }

  ul {
    li {
      font-size: 13px;
    }
  }
}

.vp-doc > div .vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;

  & > table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.5em;
    border: 1px solid var(--vp-c-divider);

    th {
      background-color: var(--vp-c-mute-dark);
      border: none;
    }

    tr {
      &:first-child {
        border: none;
        border-bottom: 1px solid var(--vp-c-divider);
      }
      &:nth-child(2n) {
        background-color: transparent;
      }
      &:hover {
        background: var(--vp-c-mute-dark);
      }
    }

    tbody tr td {
      border: none;
      font-size: 12px;
    }
  }
}

.vp-doc .custom-block {
  &.tip {
    background-color: var(--vp-c-bg);
  }
}

.VPSidebar {
  overflow: hidden !important;

  &:hover {
    overflow: auto !important;
    @include scroll-bar;
  }
}

.image-container {
  .image-bg {
    background-color: #f8f8f8;
    background: linear-gradient(47deg, #f8ec84, #a291ff, #84d2ff, #ffa391);
    background-size: 800% 800%;
    animation: spining 12s ease infinite;
    filter: blur(80px);
    @-webkit-keyframes spining {
      0% {
        background-position: 0% 45%;
      }
      50% {
        background-position: 100% 56%;
      }
      100% {
        background-position: 0% 45%;
      }
    }
    @-moz-keyframes spining {
      0% {
        background-position: 0% 45%;
      }
      50% {
        background-position: 100% 56%;
      }
      100% {
        background-position: 0% 45%;
      }
    }
    @keyframes spining {
      0% {
        background-position: 0% 45%;
      }
      50% {
        background-position: 100% 56%;
      }
      100% {
        background-position: 0% 45%;
      }
    }
  }
}
