//上边距
.mt-2 {
  margin-top: 20px;
}
.mt-4 {
  margin-top: 40px;
}
//下边距
.mb-2 {
  margin-bottom: 20px;
}
.mb-4 {
  margin-bottom: 40px;
}
//左边距
.ml-2 {
  margin-left: 20px;
}
.ml-4 {
  margin-left: 40px;
}
//右边距
.mr-2 {
  margin-right: 20px;
}
.mr-4 {
  margin-right: 40px;
}
