:root:not(.dark) {
  --vp-button-brand-border: #5e7ce0;
  --vp-c-brand: #5e7ce0;
  --vp-sidebar-bg-color: #f6f6f7;
  --vp-c-bg: #dfe1e6;
  --vp-input-switch-bg-color: #dfe1e6;
  --vp-c-text-1: #575d6c;
}
