@import './component.scss';

:root:not(.dark) {
  --vp-button-brand-border: #5e7ce0;
  --vp-c-brand: #5e7ce0;
  --vp-sidebar-bg-color: #dfe1e6;
  --vp-c-bg: #dfe1e6;
  --vp-input-switch-bg-color: #dfe1e6;
  --vp-c-text-1: #575d6c;
  --vp-code-block-bg: #eef0f5;
  --vp-code-copy-code-hover-bg: #ffffff;
  --vp-code-copy-code-bg: #f8f8f8;
  --vp-code-copy-code-active-text: var(--vp-c-text-1);
  --tu-text-shadow-bg: #ffffff;
  --tu-text-shadow: #9b9fa8;
  --vp-home-banner-image-background: linear-gradient(
    45deg,
    #f8f4cc,
    #ffe6f7,
    #bbe0f5,
    #ffe2dc
  );
}
:root.dark {
  --vp-c-bg: #282c34;
  --vp-sidebar-bg-color: #282c34;
  --vp-code-block-bg: #21242c;
  --vp-c-text-1: #888b92;
  --tu-color-global-bg: #282c34;
  --tu-color-shadow-light: #5a5a5a;
  --tu-color-shadow-dark: #0c0d0f;
  --tu-color-text: #bdbdbd;
  --tu-color-primary-light: #caabff;
  --tu-color-primary: #a97af8;
  --tu-color-primary-dark: #6f42c9;
  --tu-text-shadow-bg: #6b6b6b;
  --tu-text-shadow: #111111;
  --empty-fill-color: #71757f;
  --empty-stroke-color: #252b3a;
  --vp-home-banner-image-background: linear-gradient(
    45deg,
    #4b4400,
    #46004e,
    #00466e,
    #2a0700
  );
}
:root {
  --vp-custom-block-tip-border: rgba(128, 128, 128, 0.18);
  --vp-c-divider: rgba(128, 128, 128, 0.18);
}
