@use 'sass:map';
@use '../../../style/mixins.scss' as *;
@use '../../../style/var.scss' as *;

$tu-slider-road-size-map: (
  mini: 4px,
  small: 6px,
  medium: 8px,
  large: 10px
);

@include b(slider) {
  display: inline-flex;
  align-items: center;
  width: 100%;

  @include e(track) {
    position: relative;
    flex: 1;
    width: 100%;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: map-get($tu-slider-road-size-map, 'medium');
      border-radius: $tu-border-radius-full;
      transform: translateY(-50%);
      box-shadow: $tu-shadow-inside;
    }

    @include m(vertical) {
    }

    @include when(disabled) {
    }

    @include e(bar) {
      position: absolute;
      height: 10px;
      background: orange;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @include m(vertical) {
  }

  @include when(with-marks) {
  }

  @each $size in (mini, small, medium, large) {
    @include m($size) {
      @include e(track) {
        &::before {
          height: map-get($tu-slider-road-size-map, $size);
        }
      }
    }
  }
}
