@use './config' as *;
@use './mixins' as *;
@use './var' as *;

// fade-in-linear
.#{$namespace}-fade-in-linear-enter-active,
.#{$namespace}-fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}
.#{$namespace}-fade-in-linear-enter-from,
.#{$namespace}-fade-in-linear-leave-to {
  opacity: 0;
}

// fade-in
.#{$namespace}-fade-in-enter-active,
.#{$namespace}-fade-in-leave-active {
  transition: all $tu-transition-duration-3 cubic-bezier(0.55, 0, 0.1, 1);
}
.#{$namespace}-fade-in-enter-from,
.#{$namespace}-fade-in-leave-active {
  opacity: 0;
}

// zoom-in-center
.#{$namespace}-zoom-in-center-enter-active,
.#{$namespace}-zoom-in-center-leave-active {
  transition: all $tu-transition-duration-3 cubic-bezier(0.55, 0, 0.1, 1);
}
.#{$namespace}-zoom-in-center-enter-from,
.#{$namespace}-zoom-in-center-leave-active {
  opacity: 0;
  transform: scaleX(0);
}

// zoom-in-top
.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;

  &[data-popper-placement^='top'] {
    transform-origin: center bottom;
  }
}
.#{$namespace}-zoom-in-top-enter-from,
.#{$namespace}-zoom-in-top-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

//zoom-in-bottom
.#{$namespace}-zoom-in-bottom-enter-active,
.#{$namespace}-zoom-in-bottom-leave-active {
  opacity: 1;
  transform: scaleY(1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center bottom;
}
.#{$namespace}-zoom-in-bottom-enter-from,
.#{$namespace}-zoom-in-bottom-leave-active {
  opacity: 0;
  transform: scaleY(0);
}

// zoom-in-left
.#{$namespace}-zoom-in-left-enter-active,
.#{$namespace}-zoom-in-left-leave-active {
  opacity: 1;
  transform: scale(1, 1);
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: top left;
}
.#{$namespace}-zoom-in-left-enter-from,
.#{$namespace}-zoom-in-left-leave-active {
  opacity: 0;
  transform: scale(0.45, 0.45);
}

// collapse-transition
.collapse-transition {
  transition: $tu-transition-duration-3 height ease-in-out,
    $tu-transition-duration-3 padding-top ease-in-out,
    $tu-transition-duration-3 padding-bottom ease-in-out;
}

.#{$namespace}-collapse-transition-leave-active,
.#{$namespace}-collapse-transition-enter-active {
  transition: $tu-transition-duration-3 max-height ease-in-out,
    $tu-transition-duration-3 padding-top ease-in-out,
    $tu-transition-duration-3 padding-bottom ease-in-out;
}

// horizontal-collapse-transition
.horizontal-collapse-transition {
  transition: $tu-transition-duration-3 width ease-in-out,
    $tu-transition-duration-3 padding-left ease-in-out,
    $tu-transition-duration-3 padding-right ease-in-out;
}

// list
.#{$namespace}-list-enter-active,
.#{$namespace}-list-leave-active {
  transition: all 1s;
}

.#{$namespace}-list-enter-from,
.#{$namespace}-list-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

.#{$namespace}-list-leave-active {
  position: absolute !important;
}

// scrollbar
.#{$namespace}-scrollbar-fade {
  &-enter-active {
    transition: opacity 340ms ease-out;
  }

  &-leave-active {
    transition: opacity 120ms ease-out;
  }

  &-enter-from,
  &-leave-active {
    opacity: 0;
  }
}

// opacity-transition
.#{$namespace}-opacity-transition {
  transition: opacity $tu-transition-duration-3 cubic-bezier(0.55, 0, 0.1, 1);
}

// used by tooltip。缩放出现，渐隐退出
.#{$namespace}-zoom-in-fade-out-enter-from,
.#{$namespace}-zoom-in-fade-out-appear-from {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.#{$namespace}-zoom-in-fade-out-enter-to,
.#{$namespace}-zoom-in-fade-out-appear-to {
  transform: scale(1, 1);
  opacity: 1;
}

.#{$namespace}-zoom-in-fade-out-enter-active,
.#{$namespace}-zoom-in-fade-out-appear-active {
  transition: opacity $tu-transition-duration-3
      $tu-transition-timing-function-overshoot,
    transform $tu-transition-duration-3 $tu-transition-timing-function-overshoot;
}

.#{$namespace}-zoom-in-fade-out-leave-from {
  transform: scale(1, 1);
  opacity: 1;
}

.#{$namespace}-zoom-in-fade-out-leave-to {
  transform: scale(0.5, 0.5);
  opacity: 0;
}

.#{$namespace}-zoom-in-fade-out-leave-active {
  transition: opacity $tu-transition-duration-3
      $tu-transition-timing-function-overshoot,
    transform $tu-transition-duration-3 $tu-transition-timing-function-overshoot;
}
