.tu-tree-select__dropdown {
  box-sizing: border-box;
  box-shadow: 3px 3px 6px var(--tu-color-shadow-dark, #babbc0), -2px -2px 5px var(--tu-color-shadow-light, #ffffff);
  border-radius: var(--tu-border-radius, 2px);
  min-width: 300px;
}
.tu-tree-select__dropdown-wrap {
  height: 100%;
  max-height: 200px;
  padding-right: 8px;
  padding-left: 10px;
  overflow: auto;
}
.tu-tree-select__dropdown-wrap--mini {
  height: 144px;
}

.tu-tree-select__dropdown-wrap--small {
  height: 168px;
}

.tu-tree-select__dropdown-wrap--medium {
  height: 192px;
}

.tu-tree-select__dropdown-wrap--large {
  height: 216px;
}

.tu-tree-select__dropdown-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
}

.tu-tree-select__dropdown--header {
  border-bottom: 1px solid var(--tu-color-line, rgba(128, 128, 128, 0.18));
}

.tu-tree-select__dropdown--footer {
  border-top: 1px solid var(--tu-color-line, rgba(128, 128, 128, 0.18));
}